
.main-details {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overscroll-behavior: none;
    scroll-behavior: smooth;
}

.image-viewer {
    width: 100%;
    height: 60%;
    max-height: 60%;
    position: relative;
}

.image-viewer::after {
    content: "";
    width: 100%;
    height: 100%;
    inset: 0;
    z-index: 10;
    bottom: 0;
    position: absolute;
    background: linear-gradient(180deg,rgba(255, 255, 255, 0) 0%, hsl(0, 0%, 12%) 100%);
}

.movie-details-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.movie-title-info {

    width: 100%;
    height: 100%;
    inset: 0;
    z-index: 15;
    bottom: 0;
    position: absolute;

    display: flex;
    align-items: end;
    justify-content: start;
    padding: 50px;

}

.details-title {
    font-size: 2.5rem;
    font-weight: 550;
}


/* content body */
.movie-details-info {
    margin-top: 20px;
    padding: 30px;
    padding-inline: 40px;

    height: 100%;
}


.section-2 {
    width: 100%;
}

.details-description {
    padding-inline: 20px;
    margin-block: 20px;
}

label {
    color: hsl(0, 0%, 60%);
}



.section-3 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;

    padding-left: 30px;

    margin-top: 20px;
}

.stars-container {
    height: 15%;
    width: 100%;

    border-bottom: 1.5px solid hsl(0, 0%, 30%);

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.stars-details {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5px;

    height: 80%;
    font-size: 2rem;
    font-weight: 450;

}

.stars-details p {
    font-size: 1rem;
    color: hsl(0, 0%, 30%);
    margin-top: 8px;
}

.duration-container {
    width: 100%;
    height: 15%;

    border-bottom: 1.5px solid hsl(0, 0%, 30%);

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.duration-details {
    width: 100%;
    height: 90%;
    
    font-size: 2rem;
    font-weight: 450;
}


.categories-container {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.categorias-details-track {
    display: flex;
    width: 100%;
    justify-content: start;
    gap: 10px;
    padding-inline: 20px;
}


@media (min-width: 1200px) {
    .section-3 {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    gap: 25px;

    padding-left: 30px;

    margin-top: 20px;
}

.stars-container {
    height: 100%;
    width: 20%;

    border-right: 1.5px solid hsl(0, 0%, 30%);
    border-bottom: none;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.stars-details {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5px;

    height: 80%;
    font-size: 2rem;
    font-weight: 450;

}

.stars-details p {
    font-size: 1rem;
    color: hsl(0, 0%, 30%);
    margin-top: 8px;
}

.duration-container {
    width: 20%;
    height: 100%;

    border-right: 1.5px solid hsl(0, 0%, 30%);
    border-bottom: none;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.duration-details {
    width: 100%;
    height: 90%;
    
    font-size: 2rem;
    font-weight: 450;
}


.categories-container {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.categorias-details-track {
    display: flex;
    width: 100%;
    justify-content: start;
    gap: 10px;
    padding-inline: 20px;
}

}